<div>
    <h1>Download my sweet ArQmA </h1>
</div>
<!-- Downloads -->

<section id="downloads" class="section">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 headline">

        <p>

          <a href="https://github.com/arqma/arqma/releases/tag/v0.6.1">Devil's Randomness (0.6.1)</a>

        </p>

      </div>

      <div class="col-xs-12 col-sm-6 text-center">

        <div class="panel panel-default">

          <div class="panel-body">

            <h3>

              <span class="fa fa-windows">&nbsp;&nbsp;Windows, 64-bit</span>

            </h3>

            <a href="https://github.com/arqma/arqma-electron-wallet/releases/download/v3.0.6/arqma-electron-wallet-3.0.6-win.exe">Windows, 64-bit GUI</a><br>

            <a href="https://github.com/arqma/arqma/releases/download/v0.6.1/arqma-win64.zip">Windows, 64-bit Command-Line Tools Only</a>

            <br>

          </div>

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 text-center">

        <div class="panel panel-default">

          <div class="panel-body">

            <h3>

              <span class="fa fa-apple">&nbsp;&nbsp;Mac OS X, 64-bit</span>

            </h3>

            <a href="https://github.com/arqma/arqma-electron-wallet/releases/download/v3.0.6/arqma-electron-wallet-3.0.6-mac.dmg">Mac OS X, 64-bit GUI</a><br>

            <a href="https://github.com/arqma/arqma/releases/download/v0.6.1/arqma-osx-x64-v6.1.0.zip">Mac OS X, 64-bit Command-Line Tools Only</a>

            <br>

          </div>

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 text-center">

        <div class="panel panel-default">

          <div class="panel-body">

            <h3>

              <span class="fa fa-linux">&nbsp;&nbsp;Linux, 64-bit</span>

            </h3>

            <a href="https://github.com/arqma/arqma-electron-wallet/releases/download/v3.0.6/arqma-electron-wallet-3.0.6-linux.AppImage">Linux, 64-bit GUI</a><br>

            <a href="https://github.com/arqma/arqma/releases/download/v0.6.1/arqma-x86_64-linux-gnu.tar.gz">Linux, 64-bit Command-Line Tools Only</a>

            <br>

          </div>

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 text-center">

        <div class="panel panel-default">

          <div class="panel-body">


            <a href="https://github.com/arqma/arqma-electron-wallet">GitHub, GUI</a><br>

            <a href="https://github.com/arqma/arqma">GitHub, CLI</a>

            <br>

          </div>

        </div>

      </div>

      <div class="col-xs-12">

        <br>

      </div>

    </div>

  </div>

</section>

<!-- End Downloads -->
